extends ../root-layout

block body

	form(method = 'post', action = '/auth/login')
		input(name = 'username', value = 'me@markormesher.co.uk')
		input(name = 'password', value = 'password')
		input(type = 'submit', value = 'Login')
